@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Welcome to ASP.NET MVC application about vehicles</h3>

</div>

<div class="row">
    <p>Click on VehicleMake or VehicleModel for further actions or Click on Project.MVC for Home page</p>
</div>